@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Marcellus', serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #333333;
      font-family: 'Marcellus', serif;
      font-size: 1.3em;
      padding: 1rem;
}.item button{
      color: white;
      font-size: 0.8em;
      border-radius: 10%;
      background-color: #337AB7;
      border: none;
      padding: 0.5rem;
}nav a{
      color: var(--blanco);
      text-decoration: none;
      padding: 1rem;
      transition: .5s all ease;
      
}nav a:hover{
      background-color:#0B3860;
      width: 100%;
}
.logo img{
      height: 3rem;     
}#features{
      background: url(../img/index/bg-features.png);
      color: white;
      padding-top: 1rem;
}.features-title{
      background-color: rgba(0, 0, 0, 0.342);
      text-align: center;
      padding: 0.5rem;
      font-size: 1.5rem;
}.features-description{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
}.feature{
      width: 25%;
      min-width: 180px;
      max-width: 230px;
      margin: 0.8rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
}.feature i{
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
}.feature p{
      font-size: 1.2rem;
}.feature-blue{
      background-color: rgba(9, 53, 104, 0.493);
}.feature-black{
      background-color: rgba(0, 0, 0, 0.699);
}.logo{
      background-color: #333333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
}
.slider img{
      width: 100%;
      height: 100%;
}.contenido{
      width: 100%;
      height: 100%;
      position: relative;
}#textosl p{
      position: absolute;
      margin-top: -16%;
      font-family: 'Marcellus', serif;
      font-size: 3rem;
      background-color: rgba(29, 21, 21, 0.158);
      color: white;
      width: 100%;
      height: 37%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;

}.informacion{
      width: 100%;
      height: 100%;  
      display: flex;
      justify-content: space-around;  

}.text-log{
      margin: 2.5em;
      display: flex;
      justify-content: space-around;
      align-items: center;
}#hijo1{
      font-size: 1.1em;
      width: 45%;
}#hijo img{
      width: 65%;
      height: 65%;
}#hijo{     
      display: flex;
      justify-content: center;
}.tit h1{
      display: flex;
      justify-content: center;
      margin-top: 3%;
      font-size: 3em;
}.mapa {
      display: flex;
      justify-content: center;
      padding: 1rem;
}.mapa iframe{
      width: 100%;
}.direccion h3{

      font-size: 1.5em;
      display: flex;
      justify-content: center;
}.linea{
      display: flex;
      justify-content: center;
      margin-left: 25%;
      margin-right: 25%;
      background-color: #337AB7;
      width: 50%;
      height: 0.1em;
      
}.direccion{
      padding: 2em;
 }.titulo h1{
      margin-bottom: 2%;
 }.footer-container{
      background-color: var(--negro);
      color: white;
      padding: 2%;
}
.footer-container .text-footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.2em;
      height: 100%;
      width: 100%;
}
.texto1{
      width: 25%;

      
}.icons{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      
      
}.icons div{
      display:flex;
      padding: 2%;
      
}.texto3{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2%;
      
      
}#separador{
      margin-top: 21%;
}.carrusel{
      display: flex;
      justify-content: space-around;
      width: 100%;

     color: white;
}.carrusel img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      
}.descripcion{
      height: 100%;
}.icons p{
      margin-left: 2%;
}#opinion img{
      width: 16%;
      height: 3.5em;
}.encabezado{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      background: url(/img/Group\ 200.svg);
      background-size: cover;

}.titulo{
      font-size: 1.7em;
      display: flex;
      justify-content: center;
      background-color: var(--negro);
      align-items: center;
      color: white;
      height: 7em;
      
 }.descripcion{
      position: relative;
      display: flex;
      align-items: center;
      padding: 6%;
      font-size: 1.3em;
      height: 7rem;
 }#opinion{
   margin-top: -3%;
   margin-bottom: 3%;
   height: 100%;
   width: 400px;
   background: linear-gradient(49.54deg, #337AB7 6%, #0B3860 90.34%);
 }.encabezado img{
      padding: 2%;
 }.estrellas{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3%;
 }.red{
      margin-top: 3%;
      font-size: 1.3em;
      width: 50%; 
      

 }

 /* resolucion desktop*/
    @media screen and (min-width: 1280px)/*la pantala debe ser minimo paraque se aplique*/ {
      .logo i{
            display: none;
      }
      .texto1 hr{
            display: none;
      }.texto2 hr{
            display: none;
      }.texto3 hr{
        display: none;
      }.descripcion{
            font-size: 1.3em;
      }.features-title{
            font-size: 2em;
      }
    }
/*Resolucion media tablet*/
@media screen and (min-width: 769px) {

      .logo i{
            display: none;
      }
      .menu hr{
            display: none;
      }.texto1 hr{
            display: none;
      }.texto2 hr{
            display: none;
      }.texto3 hr{
        display: none;
      }#opinion{
            width: 30%;
      }
}
@media screen and (max-width: 768px) {
      nav:hover .menu{
            display: flex;
        }.logo{
            background-color: var(--negro2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 1%;
        }
        
      .logo img{
            width: 100%;
          max-width: 200px;
      }
      .logo i{
            color: var(--blanco);
          font-size: 2rem;
      }
      .menu{
            background-color: var(--negro2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
        }.menu hr{
            width: 100%;
            background-color: var(--blanco);
      }.item{
            padding: 1rem;          
      }
      nav a{
            color: var(--blanco);
            text-decoration: none;
            text-align: center;
        }
        nav a:hover{
            background-color: #0B3860;
            width: 100%;
        }
        .menu button{
            padding: 1rem;
            background-color:transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
        }nav{
            display: flex;
            flex-direction: column;
            padding: 1%;
            background-color: #000;            
        }.menu{
            display: none;
            width: 100%;
        }#hijo{
            display: none;
        }#hijo1{
            width: 100%;
        }#textosl p{
            font-size: 1em;
        }.text-footer{
            display: flex;
            flex-direction: column;
        }.texto1{
            width: 100%;
        }.texto2{
            width: 100%;
        }.texto3{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }#separador{
            margin-top: 0%;
        }.inf{
            display: flex;
            flex-direction: column;
           
            font-size: 0.8em;
        }.linea{
            width: 100%;
            margin-left:0%;
        }.titulo{
            height: 4em;
        }.titulo h1{
            font-size: 1em;
        }.carrusel{
            margin-left: -15%;
            width: 130%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }#opinion{
            width: 30%;
        }.descripcion{
            font-size: 0.7em;
        }.opiniones{
            overflow: hidden;
        }
}