@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {

    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Marcellus', serif;
}

#container-grid {
    display: grid;
    grid-template:
        "nav" auto
}

nav {
    display: grid;
    grid-template-areas:
        "logo"
        "menu";
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "logo-img menu-bars";
    background-color: var(--negro2);
    padding: 1rem;
}

.logo img {
    justify-self: start;
    width: 50%;
    max-width: 180px;
}

.logo i {
    justify-self: end;
    color: var(--blanco);
    font-size: 2rem;
}

.menu {
    display: grid;
    background-color: rgba(1, 10, 52, 0.838);
}

.menu-hr {
    width: 90%;
    background-color: var(--blanco);
    justify-self: center;
    /*para centrar el hr*/
}

.item {
    padding: 1rem 0;
}

nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #0B3860;
    width: 100%;
}

.navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}

@media screen and (min-width:1024px) {

    nav {
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas:
            "logo menu";
    }

    .logo img {
        width: 100%;
    }

    .logo i {
        display: none;
    }

    .menu {
        background-color: var(--negro2);
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-self: end;
    }

    .menu-hr {
        display: none;
    }

    .item {
        margin: 0 1rem;
        align-self: center;
    }
}